.button {
  padding: 10px 15px;
  border: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 6px;
  display: block;
  height: 40px;
}

.primary {
  background-color: var(--accent-color);
  color: var(--accent-light);

  &:hover,
  &:active {
    background-color: var(--accent-hover);
  }

  &:focus {
    outline: 2px solid var(--accent-color);
    outline-offset: 2px;
  }
}

.alert {
  background: var(--error-color);
  color: var(--accent-light);

  &:focus {
    outline: 2px solid var(--error-color);
    outline-offset: 2px;
  }
}
