:root {
  --accent-color: #0a84ff;
  --accent-hover: #186bc2;
  --accent-light: #fff;
  --error-color: #ff453a;
  --secondary-color: #30d158;
  --text-color: #596371;
  --app-background-color: #f7f7f7;
}
